body{
    font-family: "Mincraft";
    background-image: url(img5.png);
    
}
@font-face {
        font-family: "Mincraft" ;
        src: url("Minecraftia.ttf");
    }
h1{
    
    text-align: center;
    font-size: 80px;
    color: #fcac00;
}
h2{
    
    text-align: center;
    color: #5eff00d8;
}
h3{
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.subtitulo{
    color: #f8fc00;
}

.img-01{
    text-align: center;
}
.img-02{
   text-align: center;
}
.img-03{
    text-align: center;
}
.img-04{
    text-align: center;
}
ul{
    font-size: 22px;
    color: aliceblue;
}
h4{
    font-size: 28px;
    color: #e700fcd8;
}
h5{
    font-size: 22px;
    color: #00ffffd8;
}

.olv{
    text-align: left ;
}
div{
    text-align: center;
}
